body {
  margin: 0;
  padding: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#lottie {
  color: #fff00f;
  object-fit: fill;
  width: 100%; /* Increased width */
  height: 600px; /* Increased height */
}
